

body#list {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: #eaeaea no-repeat center -16px;
}

textarea#url {
	font: 24px Georgia, "Times New Roman", Times, serif;
	color: #5e5e5e;
	padding: 10px;
	border-style: none;
	margin-top: 10px;
}

span.copyvlc {
	padding: 10px;
}

textarea#url:hover {
	font: 24px Georgia, "Times New Roman", Times, serif;
	padding: 10px;
	background-color: #eaeaea;
	color: #000;
}


div.titre {
	margin: 16px;
	font-size: 24px;
	letter-spacing: -1px;
	border-bottom: 1px solid #c0c0c0;
}
div.playlist {
	margin: 5px 19px;
	font-size: 15px;
	line-height: 19px;
	padding: 5px 10px;
	border: 1px inset rgba(169,169,169,0.1);
	background-color: rgba(255,254,255,0.36);
}
div.header {

	margin-top: 50px;
}
#list div.m3u h3 {
	font-size: 16px;
	color: #424242;
	font-weight: normal;
	font-style: normal;
	border-bottom: 1px solid #fffeff;
	padding: 10px;
}

span.dl {
	padding: 5px;
	border-bottom: 1px solid #fffeff;
	font-size: 40px;
}

#list div.header div.m3u h3.sub{
	text-align: right;
}

#list div.header div.m3u h5.footer a {
		text-decoration: none;
	color: #8e0f05;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

#list div.header div.m3u h5.footer a:hover {
		text-decoration: underline;
	color: #000;

}


#list div.header div.m3u h5.footer  {

	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	text-align: right;
	border-top: 1px solid #feffff;
	padding-top: 10px;
	padding: 10px;
}

#list div.header div.m3u span.img a {
	text-decoration: none;
	color: #8e0f05;
	font-size: 22px;
}

#list div.header div.m3u span.img a:hover {
	color: #212121;
}
 #list div.m3u h1 {
	display: inline;
	margin-top: 0;
	margin: 0;
	padding: 10px 20px;
	font: 29px Georgia, "Times New Roman", Times, serif;
	width: 315px;
	height: 34px;
}

#list div.header div.m3u div.nm h1 {
	display: none;
}

form#url {
	display: inline-block;
}



#list div.header div.m3u code {
	display: inline-block;
}

#list div.header div.m3u span.img a span.dl {
	letter-spacing: -1px;
}
span.img {
	width: 580px;
	display: block;
	text-align: center;
	margin-top: 33px;
	padding: 1px;
}

#list div.header div.m3u span.img a img {
	margin-top: 4px;
	margin-left: 9px;
}

div.zr, #list div.playlist a {
	text-decoration: none;
	color: #9c560e;
	border-left: 14px solid #eaeaea;
	display: inline-block;
	padding: 5px 5px 5px 15px;

	border-bottom: 1px solid #fffeff;
	width: 95%;
}

#list div.header div.m3u span.img a img {
	padding-right: 11px;
}

div.nm {
	display: inline-block;
}

#list div.header div.m3u div.vlc a {
	text-decoration: none;
	color: #000;
	background-color: #fffeff;
	padding: 5px;
}

#list div.header div.m3u div.vlc a:hover {
	color: #8e0f05;
	}